<p>
  Find github projects by organization
</p>

<form (submit)="searchOrg(textOrg.value)">
  <input #textOrg placeholder="Insert organization name...">
  <button type="submit">Find Org</button>
</form>

<div *ngIf="searchResultOrg">
  {{searchResultOrg.name}}<br/>
  {{searchResultOrg.blog}}<br/>
</div>

<br/>

<form (submit)="searchReposForOrg(textOrgForRepo.value)">
<input #textOrgForRepo placeholder="Insert organization name...">
<button type="submit">Find Repos</button>
  </form>


  <ul>
  <li *ngFor="let repo of searchResultRepos">{{repo.name}}</li>
  </ul>
